<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModelQLNS" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.ModelQLNS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="QLNhansu1Entities" connectionString="metadata=res://*/ModelQLNS.csdl|res://*/ModelQLNS.ssdl|res://*/ModelQLNS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-00HBHGV\SQLEXPRESS;initial catalog=QLNhansu1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString"
      connectionString="Data Source=DESKTOP-00HBHGV\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString1"
      connectionString="Data Source=DESKTOP-40TQM4C\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString2"
      connectionString="Data Source=DESKTOP-SC5S7G3\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString3"
      connectionString="Data Source=PHUCNGUYEN\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString4"
      connectionString="Data Source=DESKTOP-SKVRH89\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString5"
      connectionString="Data Source=DESKTOP-18SF1ED\MINHTIEN;Initial Catalog=QLNhansu1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>